/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.crossword-puzzle {
	margin-bottom: 20px;
}

.crossword-puzzle-form {
	display: inline-block;
}

.crossword-puzzle td {
	height: 35px;
	padding: 0;
	width: 35px;
}

.crossword-puzzle td.bordered {
	border: 2px solid #000;
}

.crossword-puzzle .crossword-puzzle-cell {
	background-color: #fff;
	border: none;
	border-radius: none;
	height: 100%;
	text-align: center;
	width: 100%;
}

.crossword-puzzle-button {
	background-color: #11998e;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	padding: 5px 18px;
}
