.crossword-editor-wrapper {
	overflow: auto;
	zoom: 1;
}

.crossword-editor-layout-row {
	width: 15%;
}

.crossword-editor-layout-row-center {
	width: 70%;
}

.crossword-editor-layout-row,
.crossword-editor-layout-row-center {
	float: left;
}

.crossword-editor-layout-row.row-left {
	text-align: right;
}

.crossword-editor-layout-row.row-right {
	text-align: left;
}

.crossword-editor-layout-row-control {
	padding: 95px 0;
}

.crossword-editor-layout-line-control {
	text-align: center;
}

.crossword-editor-button {
	margin: 3px 0 !important;
}
