.crossword-editor-wrapper {
	overflow: auto;
	zoom: 1;
}

.crossword-editor-layout-row {
	width: 15%;
}

.crossword-editor-layout-row-center {
	width: 70%;
}

.crossword-editor-layout-row,
.crossword-editor-layout-row-center {
	float: left;
}

.crossword-editor-layout-row.row-left {
	text-align: right;
}

.crossword-editor-layout-row.row-right {
	text-align: left;
}

.crossword-editor-layout-row-control {
	padding: 65px 0 0;
}

.crossword-editor-layout-line-control {
	text-align: center;
}

.crossword-editor-button {
	margin: 3px 0 !important;
	padding: 4px !important;
}

.crossword-editor {
	border-radius: 3px;
	border-collapse: collapse;
	overflow: hidden;
	margin: 2.5px 7.5px;
}

.crossword-editor td {
	padding: 0;
}

.crossword-editor .crossword-editor-cell {
	background-color: #000;
	border: none;
	text-align: center;
	-webkit-transition: background-color 220ms ease-in-out;
	transition: background-color 220ms ease-in-out;
	will-change: background-color;
}

.crossword-editor .crossword-editor-cell.filled,
.crossword-editor .crossword-editor-cell:focus {
	background-color: transparent;
}
